
<div class="row">
	<div class="col-md-12">
		<div class="card">
  		<div class="card-header">
		    <h4>Varinhas</h4>
		</div>
		<div class="card-body">
			<div class='container-fluid'>
				<div class='row'>
		<% @wandArr.each do |wand| %>
			<div class='col-md-4'>
				<div class="card" style="width: 20rem;">
				  	<img class="card-img-top" src="../images/wands/wand.jpg" width='5%'>
				  	<div class="card-body">
				  		<div class="text-right">
				  			<a href="/admin/update_wand/<%= wand.id%>"><img src="../images/icons/edit1.png"></a>
				  			<a href="/admin/delete_wand/<%= wand.id%>"><img src="../images/icons/delete1.png"></a>
				  		</div>
				    	<p class="card-text">Madeira: <%= wand.wood %></p>
				    	<p class="card-text">Flexibilidade: <%= wand.flexibility %></p>
				    	<p class="card-text">Comprimento: <%= wand.length %></p>
				    	<p class="card-text">Núcleo: <%= wand.core %></p>
				  	</div>
				</div> 
			</div> 
		<% end %>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
